.main {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 20px;
}

.order-container {
  border: 1px solid rgb(198, 198, 198);
  border-radius: 10px;
  border-top: none;
  margin-bottom: 50px;
}

.header-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid rgb(198, 198, 198);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-right: none;
  border-left: none;

  background-color: rgb(255, 192, 203);
}

.header-left {
  display: flex;
  flex-shrink: 0;
}

.order-date, .order-total {
  margin: 10px 47px 10px 10px;
  padding-left: 10px;
}

.header-right {
  padding-right: 10px;
}

.product-info-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;

  margin: 15px 10px 15px 30px;
  padding-left: 7px;
}

.product-image {
  max-width: 140px;
  max-height: 250px;
}

.order-info {
  margin: 10px 0px 10px 0px;
}

.product-name,
.bold-header {
  font-weight: 500;
}

.button {
  width: 200px;
  margin: 5px 0px 5px 0px;
}